body,
html {
  margin: 0;
  padding: 0;
  background-color: black;
}
.maincontainer {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
}
.container {
  width: 310px;
  height: 400px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px 10px;
}
.title {
  color: rgb(94, 203, 203);
}
.price {
  color: rgb(94, 203, 203);
}
.rating {
  color: rgb(94, 203, 203);
}
.add {
  color: rgb(94, 203, 203);
  border: 1px solid grey;
  padding: 10px 20px;
  cursor: pointer;
}
.navcontainer {
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  gap: 80%;
  color: rgb(94, 203, 203);
  height: 55px;
  background-color: rgb(38, 16, 80);
}
.cartcontainer {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: rgb(94, 203, 203);
  width: 40vw;
  height: 100vh;
  /* opacity: 1; */
}
.cartnav {
  display: flex;
  align-items: center;
  gap: 200px;
  font-size: 28px;
  background-color: rgb(106, 71, 171);
  height: 50px;
}

.cartfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgb(106, 71, 171);
}
.modelwrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.5);
}
.carticontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.changecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 65px;
  gap: 4px;
  border: 1px solid rgb(227, 227, 204);
}
.boxshadow {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(227, 227, 204);
  background-color: rgb(97, 97, 93);
  height: 20px;
  width: 24px;
}
